* {
  margin: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  font-family: 'Open Sans';
  background-image: linear-gradient( rgba(250,250,250,.7), rgba(250,250,250,.7) ), url("assets/muffin-background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

button,
label,
input,
h1,
p {
  font-size: 1.5em;
}

.center {
  width: 60%;
  height: 93vh;
}

.intro,
.instructions {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.results {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.results h1 {
  margin-top: 20%;
}

.intro input {
  width: 100%;
  height: 5vh;
}

.intro button,
.instructions button {
  width: 100%;
  height: 5vh;
  background-color: black;
  color: white;
}

.results button {
  width: 30%;
  height: 5vh;
  background-color: black;
  color: white;
}

.button-align {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.label-align {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 45%;
}

nav {
  width: 100%;
  height: 7vh;
  display: flex;
  justify-content: flex-start;
  background-color: white;
}

nav h1 {
  align-self: center;
  margin: auto;
  font-size: 2em;
}

nav div button {
  height: 100%;
  width: 100%;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("assets/menu.svg");
}

.nav__dropdown {
  float: left;
  height: 100%;
  width: 5%;
  position: relative;
  display: inline-block;
}

.nav__dropdown dl {
  text-align: center;
  display: block;
}

.nav__leaderboard {
  display: none;
  position: absolute;
  text-align: center;
  background-color: #f1f1f1;
  min-width: 15vw;
  max-width: 20vw;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.nav__dropdown:hover .nav__leaderboard {
  display: block;
}

.player1,
.player2 {
  height: 100%;
  background-color: black;
  color: white;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.player1 {
  grid-area: player1;
}

.player2 {
  grid-area: player2;
}

.player1 *,
.player2 * {
  padding: 5% 0% 5% 0%;
}

.player1 dt,
.player2 dt {
  text-align: center;
}

.player1__matches,
.player2__matches {
  font-size: 3em;
  font-weight: bolder;
}

.player1__p,
.player2__p {
  font-size: 1.5em;
}

.player1__div,
.player2__div {
  border-color: grey;
  border-style: solid;
  border-width: 2px 0px 2px 0px;
  padding: 15% 0% 15% 0%;
  text-align: center;
  width: 80%;
}

.player1__list,
.player2__list {
  list-style: none;
}

.cards {
  grid-area: cards;
  background-color: white;
  height: 100%;
  display: grid;
  grid-template-areas:
    "card-1 card-1 card-1 card-2 card-2 card-3 card-3 card-3"
    "card-4 card-4 card-5 card-5 card-6 card-6 card-7 card-7"
    "card-8 card-8 card-8 card-9 card-9 card-10 card-10 card-10";
  grid-column-gap: 2em;
  padding: 3%;
}

.card {
  background-color: transparent;
  perspective: 1000px;
  height: 22vh;
  width: 17vh;
  margin: 6% 4%;
}

.card-inner {
  border: 2px solid black;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip {
  transform: rotateY(180deg);
}

.flip-back {
  transform: rotateY(-180deg);
}

.card-front, .card-back {
	backface-visibility: hidden;
	position: absolute;
  height: 100%;
  width: 100%;
}

.card-front {
  background-image: url("assets/muffin.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.card-back {
	transform: rotateY(180deg);
  background-image: url("assets/chihuahua-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-0 {
  transform: rotateZ(13deg);
  grid-area: card-1;
  justify-self: end;
}

.card-1 {
  transform: rotateZ(-9deg);
  grid-area: card-2;
}

.card-2 {
  transform: rotateZ(12deg);
  grid-area: card-3;
}

.card-3 {
  transform: rotateZ(4deg);
  grid-area: card-4;
}

.card-4 {
  transform: rotateZ(-12deg);
  grid-area: card-5;
}

.card-5 {
  transform: rotateZ(13deg);
  grid-area: card-6;
}

.card-6 {
  transform: rotateZ(13deg);
  grid-area: card-7;
}

.card-7 {
  transform: rotateZ(-8deg);
  grid-area: card-8;
  justify-self: end;
}

.card-8 {
  transform: rotateZ(13deg);
  grid-area: card-9;
}

.card-9 {
  transform: rotateZ(-6deg);
  grid-area: card-10;
}

.game {
  margin: 1%;
  width: 98%;
  height: 90vh;
  display: grid;
  grid-template-areas:
    "player1 cards player2";
  grid-template-columns: 1fr 4.5fr 1fr;
}

.hidden {
  display: none;
}

.no-display {
  opacity: 0;
  transition: opacity .25s ease-in-out;
  pointer-events: none;
}
