* {
  margin: 0px;
}

body {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background-image: linear-gradient( rgba(232,232,232,.7), rgba(232,232,232,.7) ), url("assets/muffin-background.jpg");
}

.center {
  width: 60%;
  height: 80vh;
}

.intro,
.instructions {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.intro input {
  width: 100%;
  height: 5vh;
}

.intro button,
.instructions button {
  width: 100%;
  height: 5vh;
  background-color: black;
  color: white;
}

.label-align {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 45%;
}

nav {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: flex-start;
  background-color: white;
  /* box-shadow: 5px 5px grey; */
}

nav h1 {
  align-self: center;
  margin-left: 38%;
  font-size: 2em;

}

nav button {
  width: 5%;
  background-color: black;
}

.hidden {
  display: none;
}
